# Gradle artifacts
build/
.gradle/
gradle/
*.jar

# Mac files
.DS_Store

*.hprof

# IntelliJ files
*.iml
.idea/

# Maven artifacts
target/
dependency-reduced-pom.xml

# Node.js artifacts
node_modules/
bower_components/

# Ignore Node files
node_modules
npm-debug.log

# Personal files
start.java