/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * COMPONENTS
 * selectize-header.....The customized selectize header
 * tab-pane.............The customized tab pane
 */

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/**
 * User info
 */

.user-info {
  padding-top: 20px;
}

/**
 * Selectize header
 */

.selectize-header {
  padding: 5px 8px 5px 8px;
  font-weight: bold;
}

.selectize-header:before,
.selectize-header:after {
  content: " ";
  display: table;
}

.selectize-header:after {
  clear: both;
}

.selectize-header > div {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.selectize-header .row-0,
.selectize-header-partitions .row-0,
.selectize-header-partitions .row-1 {
  width: 50%;
}

.selectize-header .row-1,
.selectize-header .row-2 {
  width: 25%;
}

.selectize-dropdown { overflow: hidden; }
.selectize-dropdown-content p { margin-bottom: 0; }

/**
 * Tab pane
 */

.tab-pane {
  padding: 10px 5px;
  max-height: 250px;
  overflow-y: scroll;
}
