/*!
 *
 * Copyright 2013 Airbnb, Inc
 */

/* ==========================================================================
   Global modifications
   ========================================================================== */
.container { min-width: 1045px; }

body { background-color: #f7f7f7 !important; }
.btn { margin-left: 10px; }

/* ==========================================================================
   Header
   ========================================================================== */
.header-row { padding-top: 20px; }
.header-row h1 { margin: 0; }

/* Table selector
   ========================================================================== */
.tabable-area { margin: 10px 0; }
