/*!
 *
 * Copyright 2013 Airbnb, Inc
 */

/* ==========================================================================
   Global modifications
   ========================================================================== */
.container { min-width: 1045px; }

body { background-color: #f7f7f7 !important; }
.btn { margin-left: 10px; }
.ace_editor { min-height: 350px; }

/* ==========================================================================
   Header
   ========================================================================== */
.header-row { padding-top: 20px; }
.header-row h1 { margin: 0; }

/* Table selector
   ========================================================================== */
.tabable-area { margin: 10px 0; }

/* Save animation
   ========================================================================== */
.save-loading .glyphicon {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
