@font-face {
  font-family: Shift;
  src: url("fonts/shift.eot");
  src: url("fonts/shift.eot?#") format("eot"), url("fonts/shift.woff") format("woff"), url("fonts/shift.ttf") format("truetype"), url("fonts/shift.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Shift;
  src: url("fonts/shift-bold.eot");
  src: url("fonts/shift-bold.eot?#") format("eot"), url("fonts/shift-bold.woff") format("woff"), url("fonts/shift-bold.ttf") format("truetype"), url("fonts/shift-bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Airglyphs;
  src: url("fonts/airglyphs.eot");
  src: url("fonts/airglyphs.eot?#") format("eot"), url("fonts/airglyphs.woff") format("woff"), url("fonts/airglyphs.ttf") format("truetype"), url("fonts/airglyphs.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
