/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-header-column,
.slick-header-columns {
  background: #f7f7f7;
  color: #393c3d;
  font-weight: bold;
}

.slick-header-columns {
  /*background: url('images/header-columns-bg.gif') repeat-x center bottom;*/
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.slick-header-column {
  /*background: url('images/header-columns-bg.gif') repeat-x center bottom;*/
  border-right: 1px solid #dbdbdb;
}

.slick-header-column:hover, .slick-header-column-active {
  /*background: white url('images/header-columns-over-bg.gif') repeat-x center bottom;*/
}

.slick-headerrow {
  background: #f7f7f7;
}

.slick-headerrow-column {
  background: #f7f7f7;
  border-bottom: 0;
  height: 100%;
}

.slick-row.ui-state-active {
}

.slick-row {
  position: absolute;
  background: white;
  border: 0px;
  line-height: 20px;
  color: #393c3d;
}

.slick-row.selected {
  z-index: 10;
  background: #DFE8F6;
}

.slick-cell {
  padding-left: 4px;
  padding-right: 4px;
  border-style: solid;
}

.slick-group {
  border-bottom: 2px solid #dbdbdb;
}

.slick-group-toggle {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}

.slick-group-toggle.expanded {
  background: url(images/collapse.gif) no-repeat center center;
}

.slick-group-toggle.collapsed {
  background: url(images/expand.gif) no-repeat center center;
}

.slick-group-totals {
  color: gray;
  background: white;
}

.slick-cell.selected {
  background-color: beige;
  font-weight: bold;
}

.slick-cell.active {
}

.slick-sortable-placeholder {
  background: #dbdbdb !important;
}

.slick-row.odd {
  background: #f7f7f7;
}

.slick-row.ui-state-active {
}

.slick-row.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.slick-cell.invalid {
  border-color: red;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-name: slickgrid-invalid-hilite;
  -webkit-animation-name: slickgrid-invalid-hilite;  
}

