body {
  font-family: 'Inconsolata', monospace;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.abel {
  text-transform: uppercase;
  font-family: 'Abel', monospace;
}

.panel-compressed {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.panel-compressed .panel-body {
  padding: 4px 6px;
}

.panel-container {
}

.panel-container > .panel-body {
  padding: 6px 15px 0;
}

.panel-container .panel-body .panel-heading {
  border-bottom: 1px solid #ddd;
  padding: 6px 0 6px;
}

.editor-container {
  position: relative;
}

.editor-container .ace_editor {
  border-radius: 0;
  margin-bottom: 0;
}

.table-search-row .panel-body {
  padding-bottom: 0;
}

.tables-selector-row .panel-body {
  padding-top: 0;
}

.columns-container {
  overflow-x: hidden;
}

.flex {
  flex: 1;
  display: flex;
}

.flex-initial {
  flex: initial;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-flex-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.airpal-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  backgroundColor: #233240;
}

.info {
  padding: 10px 20px;
}

.left-pane {
  width: 280px;
  color: #565a5c;
  font-weight: bold;
  background-color: #edefed;
}

.brand {
  margin: 5px 0 10px;
}

.table-search,
.partition-search {
  padding: 10px 15px 0;
}

.table-search .selectize-input,
.partition-search .selectize-input {
  border: 0;
  border-radius: 20px;
  font-weight: 300;
}

.empty-columns {
  background-color: white;
  background-size: 45px 45px;
  background-image: linear-gradient(
      #f6f7f8 50%,
      transparent 50%,
      transparent
  );
}

.empty-gutter {
  width: 10px;
  background-color: white;
  border-left: 1px solid #edefed;
}

.query-menu-bar {
  background-color: #2f3129;
}

.query-menu-bar .btn {
  background: transparent;
  color: white;
  border-left: 1px solid black;
  padding: 6px 12px;
  border-radius: 0;
}

.query-menu-bar .form-control {
  width: 350px;
  border: none;
  border-radius: 0;
  margin-left: 45px;
  background-color: #000;
}

.query-information-table-tab {
  max-height: initial;
  margin-top: 20px;
}

.tab-container {
  position: relative;
  border-left: 1px solid #edefed;
}

.tab-container > div {
  display: flex;
  flex-direction: column;
}

.tab-container .tab-content {
  display: flex;
  overflow: scroll;
  margin-top: 20px;
}

.tab-container .nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}

.ace_editor {
  border: none;
}

.query-information .nav-pills {
  margin-left: 5px;
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  border-radius: 0;
  background: none;
  color: #d3d3d3;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background: none;
  color: #565a5c;
  border-bottom: 3px solid #565a5c;
  border-radius: 0;
}
