body {
  font-family: 'Inconsolata', monospace;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.flex {
  flex: 1;
  display: flex;
}

.flex-initial {
  flex: initial;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.airpal-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  backgroundColor: #233240;
}

.left-pane {
  width: 330px;
  color: #565a5c;
  font-weight: bold;
  padding: 10px 20px 20px;
  background-color: #edefed;
}

.panel-compressed {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.panel-compressed .panel-body {
  padding: 4px 6px;
}

.panel-container {
}

.panel-container > .panel-body {
  padding: 6px 15px 0;
}

.panel-container .panel-body .panel-heading {
  border-bottom: 1px solid #ddd;
  padding: 6px 0 6px;
}

.editor-container {
  position: relative;
}

.editor-container .ace_editor {
  border-radius: 0;
  margin-bottom: 0;
}

.table-search-row .panel-body {
  padding-bottom: 0;
}

.tables-selector-row .panel-body {
  padding-top: 0;
}

.columns-container {
  overflow-x: hidden;
}
